.Silais
	display none

.Unidad
	display none
	
.nombreusuario
	a
		float left

/*
@media (min-width:900px)
	.table-responsive
		width 100% !important
		overflow-x auto
		
@media (min-width:1300px)
	.table-responsive
		width 100% !important
		overflow-x auto
*/